.redux-json-tree ul {
  margin: 0;
  list-style: none;
  padding-left: 1em;
}
.redux-json-tree .object {
  cursor: pointer;
}
.redux-json-tree .array {
  cursor: pointer;
}
.redux-json-tree .count {
  opacity: .5;
  font-style: italic;
}
.redux-json-tree .leaf input {
  width: 50px;
  height: 12px;
}
.redux-json-tree .bracket {
  opacity: .5;
}
.redux-json-tree .add {
  display: inline-block;
  opacity: .5;
  color: green;
  margin: 0px 2px;
  font-weight: bold;
  cursor: pointer;
}
.redux-json-tree .remove {
  display: inline-block;
  opacity: .5;
  color: red;
  margin: 0px 2px;
  font-weight: bold;
  cursor: pointer;
}
.redux-json-tree .hidden {
  display: none;
}
.redux-json-tree .not-visible {
  visibility: hidden;
}

/* Arrow */
.redux-json-tree-arrow {
  color: rgb(255, 32, 5);
  opacity: .5;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top-width: 5px;
  border-top-style: solid;

  display: inline-block;
  margin-left: 0;
  margin-top: 6px;
  margin-right: 2px;
  float: left;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  position: relative;
  cursor: pointer
}
.redux-json-tree-arrow.open {
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  opacity: 1;
}