.redux-json-tree ul {
  margin: 0;
  list-style: none;
  padding-left: 1em;
}
.redux-json-tree .node {
  display: initial;
}
.redux-json-tree .leaf input {
  width: 50px;
  height: 12px;
}
.hidden {
  display: none;
  visibility: hidden;
}